body{
    background-color: white;
}
.container{
    margin-top: 1em;

}
.navbar{
    border-radius: 10px;
}
.dropdown{
    margin-left: 2em;
}
.container-fluid{
    background-color: #f4f4f4;
}

.container-sm{

    margin-top: 20px;
}

.carousel-item img {
    height: 600px;
    
}

.card-test{
    border-width: 0;
}

  